/* src/components/BackToTopButton.css */
.backtotop {
    z-index: 100;
    border: none;
    background-color: #0b374e;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 700;
    opacity: 0.8;
  }
  
